####################################
# Maven
####################################
target/
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar

####################################
# Spring Boot
####################################
logs/
*.log

####################################
# Java
####################################
*.class
hs_err_pid*

####################################
# IDEs
####################################


.project
.classpath
.settings/
.factorypath



####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# H2 Database
####################################
*.mv.db
*.trace.db
/data/

####################################
# Secrets
####################################
.env
application-dev.properties
application-prod.properties
``